body {
  font-family: sans-serif;
}
.receipe-head {
  text-align: center;
}
.form-div {
  background-color: aliceblue;
}
.form-wrap {
  padding: 15px;
  width: 300px;
  margin: 10px auto;
  background-color: #93b193;
  border: 1px solid lightgray;
  border-radius: 5px;
}
input {
  margin-bottom: 10px;
  margin-top: 5px;
  width: 250px;
}
textarea {
  margin-bottom: 10px;
  margin-top: 5px;
}
#form-submit-btn {
  padding: 5px 8px;
  margin: 15px 0 0 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}
#myrecipe-notes-id {
  display: grid;
  grid-template-columns: auto auto;
  background-color: cadetblue;
  padding: 50px;
}
.receipe-card {
  border-radius: 5px;
  border: 1px solid dodgerblue;
  margin: 5px;
  padding: 10px;
  background-color: white;
  margin: 10px auto;
  width: 80%;
}
.receipe-img {
  height: 200px;
  width: 200px;
  border: 1px solid #c397d5;
  border-radius: 5px;
}
.btn {
  padding: 8px 2px;
  width: 100px;
  background-color: dodgerblue;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  float: right;
}
.flex-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 10px;
}
.orders {
  text-align: end;
}
#order {
  color: red;
  display: none;
}
.green {
  color: green;
}
.red {
  color: red;
}
h2 {
  font-size: 17px;
}
@media screen and (max-width: 1400px) {
  #myrecipe-notes-id {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 992px) {
  #myrecipe-notes-id {
    display: grid;
    grid-template-columns: auto;
  }
  .receipe-card {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  #myrecipe-notes-id {
    display: grid;
    grid-template-columns: auto;
  }
  .receipe-card {
    width: 80%;
  }
  .receipe-img {
    height: 150px;
    width: 150px;
  }
}
